[Unit]
Description=Update default audio devices

[Service]
Type=simple
ExecStart=/bin/bash %h/src/tools/update-default-audio-devices
ExecStop=pkill -f update-default-audio-devices
Restart=always

[Install]
WantedBy=multi-user.target
